<%- include('../partials/header') %>

    <section id="show-page">
        <div>Flight Airline: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>Airport: </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Flight No. </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Departs Date: </div>
        <div>
            <%= flight.departsDate %>
        </div>
        <% flight.destinations.forEach(function(f) { %>
            <div>Destinations: </div>
            <div>
                <%= f ? f.airport : '' %>
            </div>
            <div>Arrival Date: </div>
            <div>
                <%= f ? f.arrivalDate : '' %>
            </div>
            <% }); %>
    </section>

    <br><br>
    <% tickets.forEach(function(t) { %>
        <div>Seat: </div>
        <div>
            <%= t ? t.seat : '' %>
        </div>
        <div>Price: </div>
        <div>
            <%= t ? t.price : '' %>
        </div>
        <% }); %>

            <br><br>
            <form method="POST" action="/flights/<%= flight._id %>/destinations">
                <select name="airport">
                    <label>Destination:</label>
                    <option> ---Choose Aiport--- </option>
                    <option> AUS </option>
                    <option> DFW </option>
                    <option> DEN </option>
                    <option> LAX </option>
                    <option> SAN </option>
                </select>
                <label>Arrival Date</label>
                <input type="datetime-local" name="arrivalDate" min="2023-07-12" max="2032-12-31">
                <input type="submit" value="Add Destination & Arrival">
            </form>

            <br><br>
            <form method="POST" action="/flights/<%= flight._id %>/tickets">
                <label>Seat:</label>
                <input type="text" name="seat">
                <label>Price:</label>
                <input type="number" name="price" min="0">
                <input type="submit" value="Add Ticket">
            </form>
            <%- include('../partials/footer') %>